@import url('../../assets/fonts/stylesheet.css');

:root{
    --main-primary-color:#007782; 
    --main-gray: #757575;
}

.login-user-form, .user-signup-form{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid var(--main-gray);
    z-index: 10;
}

.login-user-form form, .user-signup-form form{
    display: flex;
    flex-direction: column;
    max-width: 275px;
    gap: 20px;

}

.alerte-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: red;
    font-size: 12px;
    visibility: visible;
}

.alerte-message-hidden{
    height: 20px;
    visibility: hidden;
}

.user-signup-wrapper, .user-signup-wrapper{
    position:fixed;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    z-index: 10;
}

.close-button-modal{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: -20px;
    right: -20px;
    background-color: white;
    border: solid 1px var(--main-gray);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}

.transition-modal{
    translate: 0 -100vh;
}