@import url('./assets/fonts/stylesheet.css');


*{
    box-sizing: border-box;
    font-family: 'Font', sans-serif

}

@import url('./components/Offer/styleOffer.css');
@import url('./components/home/styleHome.css');
@import url('./components/user/styleUserForm.css');

:root{
    --main-primary-color:#007782; 
}


header{
    height: 60px;
    display: flex;
    padding: 20px;
}

.primary-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}